<section class="section activities-section">
  <h2 class="section-title"><i class="fa fa-cogs"></i>Current Activities</h2>
  <details>
    <summary>Show / Hide</summary>

    <div class="upper-row">
      <h3 class="title">PC-Member of the 32st International Conference on Tools and Algorithms for the Construction and Analysis of Systems (TACAS '26)<br/>Torino, Italy</h3>
      <div class="time">2026</div>
    </div>
    <div class="upper-row">
      <h3 class="title">PC-Chair of the <a href="https://www.sci.unich.it/hcvs25/"> 12th Workshop on Horn Clauses for Verification and Synthesis (HCVS '25)</a><br/>Zagreb, Croatia</h3>
      <div class="time">2025</div>
    </div>
    <div class="upper-row">
      <h3 class="title">PC-Member of the <a href="https://smt-workshop.cs.uiowa.edu/2025/">23rd International Workshop on Satisfiability Modulo Theories (SMT '25)</a><br/>Glasgow, UK</h3>
      <div class="time">2025</div>
    </div>
    <div class="upper-row">
      <h3 class="title">Organizer and head of the Steering Committee of the <a href="https://termination-portal.org/wiki/Termination_Competition">Termination and Complexity Competition (termCOMP)</a></h3>
      <div class="time">since 2023</div>
    </div>
    <div class="upper-row">
      <h3 class="title">PC-Member of the <a href="https://www.sci.unich.it/hcvs24/">11th Workshop on Horn Clauses for Verification and Synthesis (HCVS '24)</a><br/>Luxembourg City, Luxembourg</h3>
      <div class="time">2024</div>
    </div>
    <div class="upper-row">
      <h3 class="title">PC-Member of the <a href="https://termination-portal.org/wiki/19th_International_Workshop_on_Termination">19th International Workshop on Termination (WST '23)</a><br/>Obergurgl, Austria</h3>
      <div class="time">2023</div>
    </div>
    <div class="upper-row">
      <h3 class="title">PC-Member of the <a href="https://sws.cs.ru.nl/WST2022">18th International Workshop on Termination (WST '22)</a><br/>Haifa, Israel</h3>
      <div class="time">2022</div>
    </div>
    <div class="upper-row">
      <h3 class="title">PC-Member of the <a href="https://easychair.org/smart-program/LPAR23/">23rd International Conference on Logic for Programming, Artificial Intelligence and Reasoning (LPAR '20)</a><br/>Alicante, Spain</h3>
      <div class="time">2020</div>
    </div>
    <div class="upper-row">
      <h3 class="title">PC-Member of the <a href="http://costa.fdi.ucm.es/wst2020">17th International Workshop on Termination (WST '20)</a><br/>Paris, France<br/>Canceled due to COVID-19</h3>
      <div class="time">2020</div>
    </div>
    <div class="upper-row">
      <h3 class="title">Member of the Steering Committee of the <a href="http://termination-portal.org/wiki/Termination_Competition">Termination and Complexity Competition (TermComp)</a></h3>
      <div class="time">since 2020</div>
    </div>
    <div class="upper-row">
      <h3 class="title">Participant of the Dagstuhl-seminar <a href="https://www.dagstuhl.de/de/programm/kalender/semhp/?semnr=19371">Deduction Beyond Satisfiability</a><br/>Dagstuhl, Germany</h3>
      <ul>
        <li><a href="./slides/dagstuhl2019/slides.html">Slides</a> of my talk</li>
      </ul>
      <div class="time">2019</div>
    </div>
    <div class="upper-row">
      <h3 class="title">PC-Member of the <a href="http://cl-informatik.uibk.ac.at/users/zini/events/dice18/">9th Workshop on Developments in Implicit Computational Complexity (DICE '18)</a><br/>Thessaloniki, Greece</h3>
      <div class="time">2018</div>
    </div><!--//upper-row-->

  </details>

</section><!--//section-->
