<section class="section awards-section">
  <h2 class="section-title"><i class="fa fa-trophy"></i>Awards</h2>
  <details>
    <summary>Show / Hide</summary>

    <div class="upper-row">
      <h3 class="title"><a href="https://merz.gitlabpages.inria.fr/2024-ijcar/page/awards/">Best paper honourable mention</a> for "Satisfiability Modulo Exponential Integer Arithmetic"</h3>
      <div class="time">2024</div>
    </div><!--//upper-row-->

    <div class="upper-row">
      <h3 class="title"><a href="https://etaps.org/2020/afternoon">EASST Award for the best ETAPS paper related to the systematic and rigorous engineering of software and systems</a> for "A Calculus for Modular Loop Acceleration"</h3>
      <div class="time">2020</div>
    </div><!--//upper-row-->

    <div class="upper-row">
      <h3 class="title"><a href="http://ifm2017.di.unito.it/paperAwards.php">iFM Best Tool Paper Award</a> for "Complexity Analysis for Java with AProVE"</h3>
      <div class="time">2017</div>
    </div><!--//upper-row-->

    <div class="upper-row">
      <h3 class="title"><a href="https://www.win.tue.nl/~hzantema/isr.html">ISR Best Poster Award</a> for <a href="./poster.pdf">this poster</a></h3>
      <div class="time">2017</div>
    </div><!--//upper-row-->

    <div class="upper-row">
      <h3 class="title"><a href="http://staf2016.conf.tuwien.ac.at/sefm/best-paper-award/">SEFM Recognition Award</a> for "Proving Termination of Programs with Bitvector Arithmetic by Symbolic Execution"</h3>
      <div class="time">2016</div>
    </div><!--//upper-row-->

    <div class="upper-row">
      <h3 class="title"><a href="https://www.uc.pt/en/congressos/ijcar2016/registration/studentSponsorships">CADE Woody Bledsoe Travel Award</a></h3>
      <div class="time">2016</div>
    </div><!--//upper-row-->
  </details>

</section><!--//section-->
