<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-sticky-note-o"></i>Extended Abstracts</h2>
  <details>
    <summary>Show / Hide</summary>

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Complexity Analysis for Bitvector Programs</h3>
          <div class="time">2018</div>
        </div><!--//upper-row-->
        <div class="authors">Jera Hensel, Florian Frohn and Jürgen Giesl</div>
        <div class="appeared">
          16th International Workshop on Termination
          (WST '18),
          Oxford,
          UK.
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="http://wst2018.webs.upv.es/wst2018proceedings.pdf">Final Version</a></li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">AProVE at the Termination Competition 2018</h3>
          <div class="time">2018</div>
        </div><!--//upper-row-->
        <div class="authors">M. Brockschmidt, S. Dollase, F. Emrich, F. Frohn, C. Fuhs, J. Giesl, M. Hark, J. Hensel, D. Korzeniewski, M. Naaf, abd T. Ströder</div>
        <div class="appeared">
          16th International Workshop on Termination
          (WST '18),
          Oxford,
          UK.
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="http://wst2018.webs.upv.es/wst2018proceedings.pdf">Final Version</a></li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Modular Heap Shape Analysis for Java Programs</h3>
          <div class="time">2017</div>
        </div><!--//upper-row-->
        <div class="authors">F. Frohn and J. Giesl</div>
        <div class="appeared">
          PhD Symposium at iFM '17 on
          Formal Methods: Algorithms, Tools and Applications
          (PhD-iFM '17),
          Turin,
          Italy.
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="http://urn.nb.no/URN:NBN:no-60516">Final Version</a></li>
          <li><a href="./phd-ifm17.pdf">Preliminary Version</a></li>
          <li><a href="./heap_shape_slides.pdf">Slides</a> of a related talk</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Automatic Complexity Analysis of Programs</h3>
          <div class="time">2017</div>
        </div><!--//upper-row-->
        <div class="authors">F. Frohn and J. Giesl</div>
        <div class="appeared">
          9th International School on Rewriting,
          Eindhoven,
          The Netherlands.
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="./abstract_poster.pdf">Final Version</a></li>
          <li>Related <a href="./poster.pdf">poster</a></li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Automated Inference of Upper Complexity Bounds for Java Programs</h3>
          <div class="time">2016</div>
        </div><!--//upper-row-->
        <div class="authors">F. Frohn, M. Brockschmidt, and J. Giesl</div>
        <div class="appeared">
          15th International Workshop on Termination
          (WST '16),
          Obergurgl,
          Austria.
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="http://cl-informatik.uibk.ac.at/workspace/events/wst2016.pdf">Final Version</a></li>
          <li><a href="./jbc_complexity_slides.pdf">Slides</a> of a related talk</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Lower Runtime Bounds for Integer Programs</h3>
          <div class="time">2016</div>
        </div><!--//upper-row-->
        <div class="authors">F. Frohn, M. Naaf, J. Hensel, M. Brockschmidt,and J. Giesl</div>
        <div class="appeared">
          15th International Workshop on Termination
          (WST '16),
          Obergurgl,
          Austria.
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="http://cl-informatik.uibk.ac.at/workspace/events/wst2016.pdf">Final Version</a></li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Termination Analysis of Programs with Bitvector Arithmetic by Symbolic Execution</h3>
          <div class="time">2016</div>
        </div><!--//upper-row-->
        <div class="authors">J. Hensel, J. Giesl, F. Frohn, and T. Ströder</div>
        <div class="appeared">
          15th International Workshop on Termination
          (WST '16),
          Obergurgl,
          Austria.
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="http://cl-informatik.uibk.ac.at/workspace/events/wst2016.pdf">Final Version</a></li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->
  </details>

</section><!--//section-->
