<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-newspaper-o"></i>Publications</h2>
  <details>
      <summary>Show / Hide</summary>

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="title">From Innermost to Full Almost-Sure Termination of Probabilistic Term Rewriting.</h3>
            <div class="time">2024</div>
          </div><!--//upper-row-->
          <div class="authors">J.-C. Kassing, F. Frohn, and J. Giesl</div>
          <div class="appeared">
            In Proceedings of the 27th Conference on Foundations of Software Science and Computation Structures (FoSSaCS '24),
            Luxembourg City, Luxembourg,
            Lecture Notes in Computer Science 14575, pages 206-228.
            ©<a href="http://www.springer.com/">Springer-Verlag</a>
          </div>
        </div><!--//meta-->
        <div class="details">
          <ul>
            <li><a href="https://doi.org/10.1007/978-3-031-57231-9_10">Final Version</a></li>
            <li><a href="https://arxiv.org/abs/2310.06121">Preliminary Version</a> appeared as arXiv:2310.06121 [cs.LO]</li>
            <li><a href="https://aprove-developers.github.io/InnermostToFullAST/">Homepage</a></li>
            <li>DOI: 10.1007/978-3-031-57231-9_10</li>
          </ul>
        </div><!--//details-->
      </div><!--//item-->

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="title">Proving Non-Termination by Acceleration Driven Clause Learning with LoAT</h3>
            <div class="time">2023</div>
          </div><!--//upper-row-->
          <div class="authors">F. Frohn and J. Giesl</div>
          <div class="appeared">
            In Proceedings of the 29th Conference on Automated Deduction (CADE '23),
            Rome, Italy,
            Lecture Notes in Computer Science 14132, pages 220-233.
            ©<a href="http://www.springer.com/">Springer-Verlag</a>
          </div>
        </div><!--//meta-->
        <div class="details">
          <ul>
            <li><a href="https://doi.org/10.1007/978-3-031-38499-8_13">Final Version</a></li>
            <li><a href="https://arxiv.org/abs/2304.10166">Preliminary Version</a> appeared as arXiv:2304.10166 [cs.LO]</li>
            <li><a href="https://loat-developers.github.io/adcl-nonterm-eval">Homepage</a></li>
            <li><a href="./slides/cade23/slides.html">Slides</a> from talk at CADE</li>
            <li>DOI: 10.1007/978-3-031-38499-8_13</li>
          </ul>
        </div><!--//details-->
      </div><!--//item-->

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="title">ADCL: Acceleration Driven Clause Learning for Constrained Horn Clauses</h3>
            <div class="time">2023</div>
          </div><!--//upper-row-->
          <div class="authors">F. Frohn and J. Giesl</div>
          <div class="appeared">
            In Proceedings of the 30th Static Analysis Symposium (SAS '23),
            Cascais, Portugal,
            Lecture Notes in Computer Science 14284, pages 259-285.
            ©<a href="http://www.springer.com/">Springer-Verlag</a>
          </div>
        </div><!--//meta-->
        <div class="details">
          <ul>
            <li><a href="https://doi.org/10.1007/978-3-031-44245-2_13">Final Version</a></li>
            <li><a href="https://arxiv.org/abs/2303.01827">Preliminary Version</a> appeared as arXiv:2303.01827 [cs.LO]</li>
            <li><a href="https://loat-developers.github.io/adcl-evaluation">Homepage</a></li>
            <li><a href="./slides/sas23/slides.html">Slides</a> from talk at SAS</li>
            <li>DOI: 10.1007/978-3-031-44245-2_13</li>
          </ul>
        </div><!--//details-->
      </div><!--//item-->

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="title">Termination of Triangular Polynomial Loops</h3>
            <div class="time">2023</div>
          </div><!--//upper-row-->
          <div class="authors">M. Hark, F. Frohn, and J. Giesl</div>
          <div class="appeared">
            Forma Methods in System Design. ©<a href="http://www.springer.com/">Springer-Verlag</a>
          </div>
        </div><!--//meta-->
        <div class="details">
          <ul>
            <li><a href="https://doi.org/10.1007/s10703-023-00440-z">Final Version</a></li>
            <li><a href="https://arxiv.org/abs/1910.11588">Preliminary Version</a> appeared as arXiv:1910.11588 [cs.LO]</li>
            <li>DOI: 10.1007/s10703-023-00440-z
          </ul>
        </div><!--//details-->
      </div><!--//item-->

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="title">Proving Non-Termination and Lower Runtime Bounds with LoAT (System Description)</h3>
            <div class="time">2022</div>
          </div><!--//upper-row-->
          <div class="authors">F. Frohn and J. Giesl</div>
          <div class="appeared">
            In Proceedings of the 11th International Joint Conference on Automated Reasoning (IJCAR '22),
            Haifa, Israel,
            Lecture Notes in Artificial Intelligence 13385, pages 712-722.
            ©<a href="http://www.springer.com/">Springer-Verlag</a>
          </div>
        </div><!--//meta-->
        <div class="details">
          <ul>
            <li><a href="https://doi.org/10.1007/978-3-031-10769-6_41">Final Version</a></li>
            <li><a href="https://arxiv.org/abs/2202.04546">Preliminary Version</a> appeared as arXiv:2202.04546 [cs.LO]</li>
            <li><a href="https://ffrohn.github.io/loat-tool-paper-evaluation">Homepage</a></li>
            <li><a href="./slides/ijcar22/slides.html">Slides</a> from talk at IJCAR</li>
            <li>DOI 10.1007/978-3-031-10769-6_41</li>
          </ul>
        </div><!--//details-->
      </div><!--//item-->

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="title">A Calculus for Modular Loop Acceleration and Non-Termination Proofs</h3>
            <div class="time">2022</div>
          </div><!--//upper-row-->
          <div class="authors">F. Frohn and C. Fuhs</div>
          <div class="appeared">
            International Journal on Software Tools for Technology Transfer, 24(5)
            ©<a href="http://www.springer.com/">Springer-Verlag</a>
          </div>
        </div><!--//meta-->
        <div class="details">
          <ul>
            <li><a href="https://doi.org/10.1007/s10009-022-00670-2">Final Version</a></li>
            <li><a href="https://arxiv.org/abs/2111.13952">Preliminary Version</a> appeared as arXiv:2111.13952 [cs.LO]</li>
            <li><a href="https://ffrohn.github.io/acceleration-calculus">Homepage</a></li>
            <li>DOI 10.1007/s10009-022-00670-2</li>
          </ul>
        </div><!--//details-->
      </div><!--//item-->

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="title">Polynomial Loops: Beyond Termination</h3>
            <div class="time">2020</div>
          </div><!--//upper-row-->
          <div class="authors">M. Hark, F. Frohn, and J. Giesl</div>
          <div class="appeared">
            In Proceedings of the 23rd International Conference on logic for programming, artificial intelligence and reasoning (LPAR '20).
            <a href="http://easychair.org/publications/EPiC/Computing">EPiC Series in Computing</a> 73, pages 279-297.
            <a href="http://www.easychair.org/publications/">EasyChair</a>
          </div>
        </div><!--//meta-->
        <div class="details">
          <ul>
            <li><a href="https://doi.org/10.29007/nxv1">Final Version</a></li>
            <li>DOI 10.29007/nxv1</li>
          </ul>
        </div><!--//details-->
      </div><!--//item-->

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="title">A Calculus for Modular Loop Acceleration</h3>
            <div class="time">2020</div>
          </div><!--//upper-row-->
          <div class="authors">F. Frohn</div>
          <div class="appeared">
            In Proceedings of the 26rd International Conference on Tools and Algorithms for the Construction and Analysis of Systems (TACAS '20).
            Lecture Notes in Computer Science 12078, pages 58-76.
            ©<a href="http://www.springer.com/">Springer-Verlag</a>
          </div>
        </div><!--//meta-->
        <div class="details">
          <ul>
            <li>Winner of the <i>EASST Best Paper Award</i></li>
            <li><a href="https://doi.org/10.1007/978-3-030-45190-5_4">Final Version</a></li>
            <li><a href="https://arxiv.org/abs/2001.01516">Extended Version</a> appeared as arXiv:2001.01516 [cs.LO]</li>
            <li><a href="https://ffrohn.github.io/acceleration-calculus/">Homepage</a>
            <li><a href="https://doi.org/10.5281/zenodo.3676348">Artifact Evaluation</a> (DOI 10.5281/zenodo.3676348)
            <li>DOI 10.1007/978-3-030-45190-5_4</li>
          </ul>
        </div><!--//details-->
      </div><!--//item-->

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="title">Termination for Polynomial Loops</h3>
            <div class="time">2020</div>
          </div><!--//upper-row-->
          <div class="authors">F. Frohn, M. Hark, and J. Giesl</div>
          <div class="appeared">
            In Proceedings of the 27th Static Analysis Symposium (SAS '20),
            Chicago, IL, USA,
            Lecture Notes in Computer Science, to appear.
            ©<a href="http://www.springer.com/">Springer-Verlag</a>
          </div>
        </div><!--//meta-->
        <div class="details">
          <ul>
            <li><a href="https://arxiv.org/abs/1910.11588v4">Extended Version</a></li>
          </ul>
        </div><!--//details-->
      </div><!--//item-->

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="title">Inferring Lower Runtime Bounds for Integer Programs</h3>
            <div class="time">2020</div>
          </div><!--//upper-row-->
          <div class="authors">F. Frohn, M. Naaf, M. Brockschmidt, and J. Giesl</div>
          <div class="appeared">ACM Transactions on Programming Languages and Systems, 42(3).</div>
        </div><!--//meta-->
        <div class="details">
          <ul>
            <li><a href="https://doi.org/10.1145/3410331">Final Version</a></li>
            <li><a href="https://arxiv.org/abs/1911.01077">Extended Version</a> appeared as arXiv:1911.01077 [cs.LO]</li>
            <li><a href="https://aprove-developers.github.io/its-lowerbounds-journal/">Homepage</a></li>
            <li>DOI 10.1145/3410331</li>
          </ul>
        </div><!--//details-->
      </div><!--//item-->

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="title">Proving Non-Termination via Loop Acceleration</h3>
            <div class="time">2019</div>
          </div><!--//upper-row-->
          <div class="authors">F. Frohn and J. Giesl</div>
          <div class="appeared">
            In Proceedings of the 19th International Conference on Formal Methods in Computer-Aided Design (FMCAD '19),
            San Jose, CA, USA.
            IEEE Press, pages 221-230.
          </div>
        </div><!--//meta-->
        <div class="details">
          <ul>
            <li><a href="https://doi.org/10.23919/FMCAD.2019.8894271">Final Version</a></li>
            <li><a href="https://arxiv.org/abs/1905.11187">Extended Version</a> appeared as arXiv:1905.11187 [cs.LO]</li>
            <li><a href="https://ffrohn.github.io/acceleration/">Homepage</a></li>
            <li><a href="./slides/fmcad2019/slides.html">Slides</a> of a related talk</li>
            <li>DOI 10.23919/FMCAD.2019.8894271</li>
          </ul>
        </div><!--//details-->
      </div><!--//item-->

      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="title">Termination of Triangular Integer Loops is Decidable</h3>
            <div class="time">2019</div>
          </div><!--//upper-row-->
          <div class="authors">F. Frohn and J. Giesl</div>
          <div class="appeared">
            In Proceedings of the 31st International Conference on Computer Aided Verification (CAV '19),
            New York, NY, USA,
            Lecture Notes in Computer Science 11562, pages 426-444.
            ©<a href="http://www.springer.com/">Springer-Verlag</a>
          </div>
        </div><!--//meta-->
        <div class="details">
          <ul>
            <li><a href="https://doi.org/10.1007/978-3-030-25543-5_24">Final Version</a></li>
            <li><a href="https://arxiv.org/abs/1905.08664">Extended Version</a> appeared as arXiv:1905.08664 [cs.LO]</li>
            <li><a href="./slides/linear-termination/veridis/slides.html">Slides</a> from talk at VeriDis retreat</li>
            <li><a href="./slides/linear-termination/cav/slides.html">Slides</a> from talk at CAV</li>
            <li>DOI 10.1007/978-3-030-25543-5_24</li>
          </ul>
        </div><!--//details-->
      </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Automated Complexity Analysis of Rewrite Systems</h3>
          <div class="time">2018</div>
        </div><!--//upper-row-->
        <div class="authors">F. Frohn</div>
        <div class="appeared">
          PhD thesis, RWTH Aachen
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="https://doi.org/10.18154/RWTH-2018-231555">Final Version</a></li>
          <li><a href="https://ffrohn.github.io/thesis-evaluation/">Homepage</a></li>
          <li><a href="./thesis-slides.pdf">Slides</a> of defense talk</li>
          <li>DOI 10.18154/RWTH-2018-231555</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Constant Runtime Complexity of Term Rewriting is Semi-Decidable</h3>
          <div class="time">2018</div>
        </div><!--//upper-row-->
        <div class="authors">F. Frohn and J. Giesl</div>
        <div class="appeared">
          Information Processing Letters, 139:18-23, 2018. ©<a href="https://www.elsevier.com">Elsevier</a>
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="https://doi.org/10.1016/j.ipl.2018.06.012">Final Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/IPL2018.pdf">Preliminary Version</a></li>
          <li><a href="https://aprove-developers.github.io/trs-constant-bounds/">Homepage</a></li>
          <li>DOI 10.1016/j.ipl.2018.06.012</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Termination and Complexity Analysis for Programs with Bitvector Arithmetic by Symbolic Execution</h3>
          <div class="time">2018</div>
        </div><!--//upper-row-->
        <div class="authors">J. Hensel, J. Giesl, F. Frohn, T. Ströder</div>
        <div class="appeared">
          Journal of Logical and Algebraic Methods in Programming, 97:105-130, 2018. ©<a href="https://www.elsevier.com">Elsevier</a>
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="https://doi.org/10.1016/j.jlamp.2018.02.004">Final Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/JLAMP2018.pdf">Preliminary Version</a></li>
          <li><a href="http://aprove.informatik.rwth-aachen.de/eval/BitvectorTerminationComplexity/">Homepage</a></li>
          <li>DOI 10.1016/j.jlamp.2018.02.004</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Complexity Analysis for Java with AProVE</h3>
          <div class="time">2017</div>
        </div><!--//upper-row-->
        <div class="authors">F. Frohn and J. Giesl</div>
        <div class="appeared">
          In Proceedings of the 13th International Conference on integrated Formal Methods
          (iFM '17),
          Turin,
          Italy,
          Lecture Notes in Computer Science 10510, pages 85-101.
          ©<a href="http://www.springer.com/">Springer-Verlag</a>
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="https://doi.org/10.1007/978-3-319-66845-1_6">Final Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/IFM17.pdf">Preliminary Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/IFM17Report.pdf">Extended Version</a> appeared as Technical Report AIB-2017-04, RWTH Aachen, Germany</li>
          <li><a href="./jbc_complexity_slides_ifm.pdf">Slides</a> of a related talk</li>
          <li><a href="https://aprove-developers.github.io/jbc-complexity/">Homepage</a></li>
          <li>DOI 10.1007/978-3-319-66845-1_6</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Complexity Analysis for Term Rewriting by Integer Transition Systems</h3>
          <div class="time">2017</div>
        </div><!--//upper-row-->
        <div class="authors">M. Naaf, F. Frohn, M. Brockschmidt, C. Fuhs, and J. Giesl</div>
        <div class="appeared">
          In Proceedings of the 11th International Symposium on Frontiers of Combining Systems
          (FroCoS '17),
          Brasilia,
          Brazil,
          Lecture Notes in Artificial Intelligence 10483, pages 132-150.
          ©<a href="http://www.springer.com/">Springer-Verlag</a>
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="https://doi.org/10.1007/978-3-319-66167-4_8">Final Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/FroCoS17.pdf">Preliminary Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/FroCoS17Report.pdf">Extended Version</a> appeared as Technical Report AIB-2017-05, RWTH Aachen, Germany</li>
          <li><a href="./rc_via_its_slides.pdf">Slides</a> of a related talk</li>
          <li><a href="https://aprove-developers.github.io/trs_complexity_via_its/">Homepage</a></li>
          <li>DOI 10.1007/978-3-319-66167-4_8</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Analyzing Runtime Complexity via Innermost Runtime Complexity</h3>
          <div class="time">2017</div>
        </div><!--//upper-row-->
        <div class="authors">F. Frohn and J. Giesl</div>
        <div class="appeared">
          In Proceedings of the 21st International Conference on Logic for Programming, Artificial Intelligence and Reasoning
          (LPAR '17),
          Maun,
          Botswana,
          <a href="http://easychair.org/publications/EPiC/Computing">EPiC Series in Computing</a> 46,
          pages 249-268.
          <a href="http://www.easychair.org/publications/">EasyChair</a>
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="https://doi.org/10.29007/1nbh">Final Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/LPAR17Report.pdf">Extended Version</a> appeared as Technical Report AIB-2017-02, RWTH Aachen, Germany</li>
          <li><a href="./rc_via_irc_slides.pdf">Slides</a> of a related talk</li>
          <li><a href="https://aprove-developers.github.io/complexityFullRewriting/">Homepage</a></li>
          <li>DOI 10.29007/1nbh</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Lower Bounds for Runtime Complexity of Term Rewriting</h3>
          <div class="time">2017</div>
        </div><!--//upper-row-->
        <div class="authors">F. Frohn, J. Giesl, J. Hensel, C. Aschermann, and T. Ströder</div>
        <div class="appeared">Journal of Automated Reasoning, 59(1):121-163. ©<a href="http://www.springer.com/">Springer-Verlag</a></div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="https://doi.org/10.1007/s10817-016-9397-x">Final Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/JARLowerBoundsRewriting.pdf">Preliminary Version</a></li>
          <li><a href="./decreasing_loops_slides.pdf">Slides</a> of a related talk</li>
          <li><a href="http://aprove.informatik.rwth-aachen.de/eval/lowerbounds-journal/">Homepage</a></li>
          <li>DOI 10.1007/s10817-016-9397-x</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">AProVE: Proving and Disproving Termination of Memory-Manipulating C Programs (Competition Contribution)</h3>
          <div class="time">2017</div>
        </div><!--//upper-row-->
        <div class="authors">J. Hensel, F. Emrich, F. Frohn, T. Ströder, and J. Giesl</div>
        <div class="appeared">
          In Proceedings of the 23rd International Conference on Tools and Algorithms for the Construction and Analysis of Systems (TACAS '17),
          Uppsala, Sweden,
          Lecture Notes in Computer Science 10206, pages 350-354.
          ©<a href="http://www.springer.com/">Springer-Verlag</a>
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="https://doi.org/10.1007/978-3-662-54580-5_21">Final Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/SVCOMP2017.pdf">Preliminary Version</a></li>
          <li>DOI 10.1007/978-3-662-54580-5_21</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Analyzing Program Termination and Complexity Automatically with AProVE</h3>
          <div class="time">2017</div>
        </div><!--//upper-row-->
        <div class="authors">J. Giesl, C. Aschermann, M. Brockschmidt, F. Emmes, F. Frohn, C. Fuhs, J. Hensel, C. Otto, M. Plücker, P. Schneider-Kamp, T. Ströder, S. Swiderski, and R. Thiemann.</div>
        <div class="appeared">
          Journal of Automated Reasoning, 58(1):3-31.
          ©<a href="http://www.springer.com/">Springer-Verlag</a>
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="https://doi.org/10.1007/s10817-016-9388-y">Final Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/JAR-AProVE.pdf">Preliminary Version</a></li>
          <li>DOI 10.1007/s10817-016-9388-y</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Automatically Proving Termination and Memory Safety for Programs with Pointer Arithmetic</h3>
          <div class="time">2017</div>
        </div><!--//upper-row-->
        <div class="authors">T. Ströder, J. Giesl, M. Brockschmidt, F. Frohn, C. Fuhs, J. Hensel, P. Schneider-Kamp, and C. Aschermann</div>
        <div class="appeared">
          Journal of Automated Reasoning, 58(1):33-65.
          ©<a href="http://www.springer.com/">Springer-Verlag</a>
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="https://doi.org/10.1007/s10817-016-9389-x">Final Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/JARLLVM.pdf">Preliminary Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/LLVMreport.pdf">Extended Version</a> appeared as Technical Report AIB-2016-09, RWTH Aachen, Germany</li>
          <li><a href="http://aprove.informatik.rwth-aachen.de/eval/PointerJournal/">Homepage</a></li>
          <li>DOI 10.1007/s10817-016-9389-x</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Lower Runtime Bounds for Integer Programs</h3>
          <div class="time">2016</div>
        </div><!--//upper-row-->
        <div class="authors">F. Frohn, M. Naaf, J. Hensel, M. Brockschmidt, and J. Giesl</div>
        <div class="appeared">
          In Proceedings of the 8th International Joint Conference on Automated Reasoning (IJCAR '16),
          Coimbra, Portugal,
          Lecture Notes in Artificial Intelligence 9706, pages 550-567.
          ©<a href="http://www.springer.com/">Springer-Verlag</a>
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="https://doi.org/10.1007/978-3-319-40229-1_37">Final Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/IJCAR2016.pdf">Preliminary Version</a></li>
          <li><a href="http://sunsite.informatik.rwth-aachen.de/Publications/AIB/2016/2016-03.pdf">Extended Version</a> appeared as Technical Report AIB-2016-03, RWTH Aachen, Germany</li>
          <li><a href="./lower_bounds_its_slides.pdf">Slides</a> of a related talk</li>
          <li><a href="http://aprove.informatik.rwth-aachen.de/eval/integerLower/">Homepage</a></li>
          <li>DOI 10.1007/978-3-319-40229-1_37</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Proving Termination of Programs with Bitvector Arithmetic by Symbolic Execution</h3>
          <div class="time">2016</div>
        </div><!--//upper-row-->
        <div class="authors">J. Hensel, J. Giesl, F. Frohn, and T. Ströder</div>
        <div class="appeared">
          In Proceedings of the 14th International Conference on Software Engineering and Formal Methods (SEFM '16),
          Vienna, Austria,
          Lecture Notes in Computer Science 9763, pages 234-252.
          ©<a href="http://www.springer.com/">Springer-Verlag</a>
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="https://doi.org/10.1007/978-3-319-41591-8_16">Final Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/SEFM16.pdf">Preliminary Version</a></li>
          <li><a href="http://sunsite.informatik.rwth-aachen.de/Publications/AIB/2016/2016-04.pdf">Extended Version</a> appeared as Technical Report AIB-2016-04, RWTH Aachen, Germany</li>
          <li><a href="http://aprove.informatik.rwth-aachen.de/eval/Bitvectors/">Homepage</a></li>
          <li>DOI 10.1007/978-3-319-41591-8_16</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Inferring Lower Bounds for Runtime Complexity</h3>
          <div class="time">2015</div>
        </div><!--//upper-row-->
        <div class="authors">F. Frohn, J. Giesl, J. Hensel, C. Aschermann, and T. Ströder</div>
        <div class="appeared">
          In Proceedings of the 26th International Conference on Rewriting Techniques and Applications (RTA '15),
          Warsaw, Poland,
          <a href="http://www.dagstuhl.de/en/publications/lipics/">LIPIcs Leibniz International Proceedings in Informatics</a> 36,
          pages 334-349. Dagstuhl Publishing</div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="https://doi.org/10.4230/LIPIcs.RTA.2015.334">Final Version</a></li>
          <li><a href="http://sunsite.informatik.rwth-aachen.de/Publications/AIB/2015/2015-05.pdf">Extended Version</a> appeared as Technical Report AIB-2015-05, RWTH Aachen, Germany</li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/talkLowerBounds.pdf">Slides</a> of a related talk by J. Giesl</li>
          <li><a href="http://aprove.informatik.rwth-aachen.de/eval/lowerbounds/">Homepage</a></li>
          <li>DOI 10.4230/LIPIcs.RTA.2015.334</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">AProVE: Termination and Memory Safety of C Programs (Competition Contribution)</h3>
          <div class="time">2015</div>
        </div><!--//upper-row-->
        <div class="authors">T. Ströder, C. Aschermann, F. Frohn, J. Hensel, and J. Giesl</div>
        <div class="appeared">
          In Proceedings of the 21st International Conference on Tools and Algorithms for the Construction and Analysis of Systems (TACAS '15),
          London, UK,
          Lecture Notes in Computer Science 9035,
          pages 417-419.
          ©<a href="http://www.springer.com/">Springer-Verlag</a></div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="https://doi.org/10.1007/978-3-662-46681-0_32">Final Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/SVCOMP2015.pdf">Preliminary Version</a></li>
          <li>DOI 10.1007/978-3-662-46681-0_32</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Proving Termination and Memory Safety for Programs with Pointer Arithmetic</h3>
          <div class="time">2014</div>
        </div><!--//upper-row-->
        <div class="authors">T. Ströder, J. Giesl, M. Brockschmidt, F. Frohn, C. Fuhs, J. Hensel, and P. Schneider-Kamp</div>
        <div class="appeared">
          In Proceedings of the 7th International Joint Conference on Automated Reasoning (IJCAR '14),
          Vienna, Austria,
          Lecture Notes in Artificial Intelligence 8562, pages 208-223, 2014.
          ©<a href="http://www.springer.com/">Springer-Verlag</a>
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="https://doi.org/10.1007/978-3-319-08587-6_15">Final Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/IJCAR14-LLVM.pdf">Preliminary Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/aib-2014-05.pdf">Extended Version</a> appeared as Technical Report AIB-2014-05, RWTH Aachen, Germany</li>
          <li><a href="http://aprove.informatik.rwth-aachen.de/eval/Pointer/">Homepage</a></li>
          <li>DOI 10.1007/978-3-319-08587-6_15</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->

    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="title">Proving Termination of Programs Automatically with AProVE</h3>
          <div class="time">2014</div>
        </div><!--//upper-row-->
        <div class="authors">J. Giesl, M. Brockschmidt, F. Emmes, F. Frohn, C. Fuhs, C. Otto, M. Plücker, P. Schneider-Kamp, T. Ströder, S. Swiderski, and R. Thiemann</div>
        <div class="appeared">
          In Proceedings of the 7th International Joint Conference on Automated Reasoning (IJCAR '14),
          Vienna, Austria,
          Lecture Notes in Artificial Intelligence 8562, pages 184-191, 2014.
          ©<a href="http://www.springer.com/">Springer-Verlag</a>
        </div>
      </div><!--//meta-->
      <div class="details">
        <ul>
          <li><a href="https://doi.org/10.1007/978-3-319-08587-6_13">Final Version</a></li>
          <li><a href="http://verify.rwth-aachen.de/giesl/papers/IJCAR14-AProVE.pdf">Preliminary Version</a></li>
          <li>DOI 10.1007/978-3-319-08587-6_13</li>
        </ul>
      </div><!--//details-->
    </div><!--//item-->
  </details>
</section><!--//section-->
