<section class="section projects-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Teaching</h2>
  <details>
    <summary>Show / Hide</summary>

    <div class="upper-row">
      <h3 class="title">Supervision of 8 Bachelor and 4 Master Theses</h3>
      <div class="time">WS 13/14 - WS 17/18</div>
    </div>
    <div class="upper-row">
      <h3 class="title">Proseminar <a href="http://verify.rwth-aachen.de/proseminar/PK17">Fortgeschrittene Programmierkonzepte (Advanced Programming Concepts)</a></h3>
      <div class="time">SS 17</div>
    </div>
    <div class="upper-row">
      <h3 class="title">Seminar <a href="http://verify.rwth-aachen.de/seminar/SAT17">Satisfiability Checking</a></h3>
      <div class="time">SS 17</div>
    </div>
    <div class="upper-row">
      <h3 class="title">Lecture <a href="http://verify.rwth-aachen.de/programmierungWS16">Programmierung (Programming Concepts)</a></h3>
      <div class="time">WS 16/17</div>
    </div>
    <div class="upper-row">
      <h3 class="title">Seminar <a href="http://verify.rwth-aachen.de/seminar/VV16/">Verifikationsverfahren (Verification Techniques)</a></h3>
      <div class="time">WS 16/17</div>
    </div>
    <div class="upper-row">
      <h3 class="title">Lecture Formale Systeme, Automaten, Prozesse</h3>
      <div class="time">SS 16</div>
    </div>
    <div class="upper-row">
      <h3 class="title">Proseminar <a href="http://verify.rwth-aachen.de/proseminar/PK16">Fortgeschrittene Programmierkonzepte (Advanced Programming Concepts)</a></h3>
      <div class="time">SS 16</div>
    </div>
    <div class="upper-row">
      <h3 class="title">Seminar <a href="http://verify.rwth-aachen.de/seminar/SAT16">Satisfiability Checking</a></h3>
      <div class="time">SS 16</div>
    </div>
    <div class="upper-row">
      <h3 class="title">Lecture <a href="http://verify.rwth-aachen.de/tes15/">Termersetzungssysteme (Term Rewriting Systems)</a></h3>
      <div class="time">WS 15/16</div>
    </div>
    <div class="upper-row">
      <h3 class="title">Seminar <a href="http://verify.rwth-aachen.de/seminar/TES15">Termersetzungssysteme - Aktuelle Themen und Erweiterungen (Advanced Topics in Term Rewriting)</a></h3>
      <div class="time">WS 15/16</div>
    </div>
    <div class="upper-row">
      <h3 class="title">Proseminar <a href="http://verify.rwth-aachen.de/proseminar/PK1516">Fortgeschrittene Programmierkonzepte (Advanced Programming Concepts)</a></h3>
      <div class="time">WS 15/16</div>
    </div>
    <div class="upper-row">
      <h3 class="title">Lecture <a href="http://www.lii.rwth-aachen.de/en/lehre/8-lehre/82-formale-systeme-automaten-prozesse-ss15.html">Formale Systeme, Automaten, Prozesse</a></h3>
      <div class="time">SS 15</div>
    </div>
    <div class="upper-row">
      <h3 class="title">Proseminar <a href="http://verify.rwth-aachen.de/proseminar/PK15">Fortgeschrittene Programmierkonzepte (Advanced Programming Concepts)</a></h3>
      <div class="time">SS 15</div>
    </div>
    <div class="upper-row">
      <h3 class="title">Seminar <a href="http://verify.rwth-aachen.de/seminar/SAT15">Satisfiability Checking</a></h3>
      <div class="time">SS 15</div>
    </div>
    <div class="upper-row">
      <h3 class="title">Lecture <a href="http://verify.rwth-aachen.de/programmierungWS14">Programmierung (Programming Concepts)</a></h3>
      <div class="time">WS 14/15</div>
    </div>
    <div class="upper-row">
      <h3 class="title">Seminar <a href="http://verify.rwth-aachen.de/seminar/VV14">Verifikationsverfahren (Verification Techniques)</a></h3>
      <div class="time">WS 14/15</div>
    </div>
    <div class="upper-row">
      <h3 class="title">Lecture <a href="http://verify.rwth-aachen.de/fp14">Funktionale Programmierung (Functional Programming)</a></h3>
      <div class="time">SS 14</div>
    </div>
    <div class="upper-row">
      <h3 class="title">Proseminar <a href="http://verify.rwth-aachen.de/proseminar/PK14">Fortgeschrittene Programmierkonzepte (Advanced Programming Concepts)</a></h3>
      <div class="time">SS 14</div>
    </div>
    <div class="upper-row">
      <h3 class="title">Seminar <a href="http://verify.rwth-aachen.de/seminar/SAT14">Satisfiability Checking</a></h3>
      <div class="time">SS 14</div>
    </div>
    <div class="upper-row">
      <h3 class="title">Lecture <a href="http://tcs.rwth-aachen.de/lehre/Progra/WS2013/">Programmierung (Programming Concepts)</a></h3>
      <div class="time">WS 13/14</div>
    </div>
  </details>

</section><!--//section-->
